<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coffee Shop</title>
</head>

<body>

<div>
    <div>
        <div>
            <form th:action="@{/coffee}" method="post" th:object="${coffee}">
                <input type="hidden" id="id" th:field="*{id}">
                <div>
                    <label>Coffee label</label>
                    <input type="text" id="title" th:field="*{title}">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>

</html>